<div class="search-bar">
  <input
    type="search"
    placeholder="Enter name or description"
    [value]="query()"
    (input)="onInput($event)"
  />

  <button (click)="refresh()">Load</button>
</div>

<div *ngIf="loading$ | async" class="state">Loading...</div>

<div *ngIf="error$ | async as err" class="state">
  <p style="color: red">{{ err }}</p>
</div>

<div *ngIf="!(loading$ | async) && !(error$ | async)">
  <ul *ngIf="items$ | async as items">
    <ng-container *ngIf="items.length > 0; else noResults">
      <app-item-card *ngFor="let item of items" [item]="item"> </app-item-card>
    </ng-container>
  </ul>
</div>

<ng-template #noResults>
  <p>No jewelry found</p>
</ng-template>
